[general]
chrLenFile = /Work_bio/references/Mus_musculus/GRCm39/mouse_gencode_M35/GRCm39.primary_assembly.genome.fa.fai
ploidy = 2
window = 50000
outputDir = /home/gao/projects_2026H2/14_geneedit_lats12_wgs/analysis_A/cnv/freec/RO_tumor3
maxThreads = 6
samtools = /Work_bio/gao/configs/.conda/envs/regular_bioinfo/bin/samtools
[sample]
mateFile = /home/gao/projects_2026H2/14_geneedit_lats12_wgs/output_A/preprocessing/markduplicates/RO_tumor3/RO_tumor3.md.cram
inputFormat = CRAM
mateOrientation = FR
[control]
mateFile = /home/gao/projects_2026H2/14_geneedit_lats12_wgs/output_A/preprocessing/markduplicates/RO_origin/RO_origin.md.cram
inputFormat = CRAM
mateOrientation = FR
# ⚠ CRAM 输入需 FREEC 支持 htslib;若不支持则先转 BAM(用 output_A CRAM + /Work_bio/references/Mus_musculus/GRCm39/mouse_gencode_M35/GRCm39.primary_assembly.genome.fa)。审阅时确认。
